.botao{
   background-color: #FFC107;
    border: none;
    color: darkred;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
}
.botao:hover{
    transform: rotate(180deg);
}